.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.content{
    width:400px;
    margin: 0 auto;
}

.header{
    height: 100px;
    background-color: #141f40;
}

.footer{
    height: 100px;
    background-color: #d98d30;
}

.light-blue{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.yellow{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.blue{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.pink{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
}
.down{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.right{
    float: right;
}
.left{
    float: left;
}
